:root {
  --primary: black;
  --font-size: 11px;

  --secondary-000: #ffffff;
  --secondary-100: #e6e6e6;
  --secondary-300: #d3d3d3;
  --secondary-500: #b3b3b3;
  --secondary-700: #88718c;

  --brand-100: #aaa;
  --brand-200: #c2ae7b;

  --link-color: black;

  --svg-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: antiquewhite;
    --secondary-000: #282829;
    --secondary-100: #332b34;
    --secondary-300: #fce6ff;
    --secondary-700: #634085;
    --secondary-500: #583b74;
    --link-color: #85c0f3;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Tahoma", sans-serif;
  display: grid;
  grid-template: auto / minmax(16rem, 15%) auto;
  background: var(--secondary-000);
  color: var(--primary);
}

a {
  color: var(--link-color);
}

.title {
  text-align: center;
}

.title > img {
  width: 80%;
  margin-top: 1rem;
}

#positions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}

.toolbar {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 1;
  background: var(--secondary-100);
  /*text-align: center;*/
  padding: 0 1rem 0 1rem;
}

hr {
  width: 100%;
  border-bottom: 1px;
}

footer {
  margin-top: auto;
  padding-bottom: 1em;
  font-size: var(--font-size);
  text-align: center;
}

.content {
  grid-row: 1;
  grid-column: 2;
  position: relative;
  background-image: url("tile-light.svg");
  background-size: 300px 300px;
}

@media (prefers-color-scheme: dark) {
  .content {
    background-image: url("tile-dark.svg");
  }
}

.content > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

button,
input {
  color: var(--primary);
  border-radius: 5px;
}

button {
  background: var(--secondary-500);
  padding: 6px;
  /*margin: 5px 5px;*/
  width: 100%;
  cursor: pointer;
}

input {
  background: var(--secondary-400);
  margin: 5px 0;
  width: 7rem;
}

.dimensions {
  text-align: right;
}

.dimensions > label {
  display: block;
}

/* SVG */

svg#vis {
  pointer-events: none;
  opacity: var(--svg-opacity);
}

svg#vis.hidden {
  visibility: hidden;
}

svg#vis > * {
  pointer-events: auto;
}

svg .u-line {
  stroke: var(--brand-100);
  stroke-dasharray: 2 2;
}

svg .u-path {
  stroke: orange;
  fill: none;
}

svg .u-point circle {
  fill: var(--brand-200);
}
