:root {
    --svg-opacity: 1;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template: auto / minmax(10rem, 15%) auto;
    background: #ffffff;
}

#controls {
    padding: 5px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1;
    background: #fce6ff;
}

h3 {
    text-align: center;
}

h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: solid #88718c 1px;
}

footer {
    position: relative;
    padding-bottom: 15px;
    font-size: 11px;
    width: 100%;
    text-align: center;
}

.content {
    grid-row: 1;
    grid-column: 2;
    position: relative;
}

button {
    background: #c7b7d7;
    color: black;
    border-radius: 5px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%
}

profile {
    points-color: #a13939;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #282829;
        color: antiquewhite
    }

    button {
        background: #634085;
        color: aliceblue;
    }

    a {
        color: #85c0f3;
    }

    hr {
        border-top: solid #88718c 1px;
    }

    .toolbar {
        background: #332b34;
    }
}

canvas#threed {
  position: absolute;
  width: 100%;
  height: 100%;
}

svg#vis {
  position: absolute;
  pointer-events: none;
  opacity: var(--svg-opacity);
}

svg#vis.hidden {
    visibility: hidden;
}

svg#vis * {
    pointer-events: auto;
}

svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

svg .u-line {
  stroke: #aaa;
  stroke-dasharray: 2 2;
}

svg .u-path {
  stroke: orange;
  fill: none;
}

svg .u-point circle {
  fill: #c2ae7b;
}

svg {
  text-anchor: middle;
  font: 11px var(--sans-serif);
  user-select: none;
  position: absolute;
}
