:root {
    --primary: black;
    --font-size:  11px;
    
    --secondary-000: #ffffff;
    --secondary-100: #e6e6e6;
    --secondary-300: #d3d3d3;
    --secondary-500: #b3b3b3;
    --secondary-700: #88718c;

    --brand-100: #aaa;
    --brand-200: #c2ae7b;

    --link-color: black;

    --svg-opacity: 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: antiquewhite;
        --secondary-000: #282829;
        --secondary-100: #332b34;
        --secondary-300: #fce6ff;
        --secondary-700: #634085;
        --secondary-500: #634085;

        --link-color: #85c0f3;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template: auto / minmax(10rem, 15%) auto;
    background: var(--secondary-000);
    color: var(--primary);
}

a {
    color: var(--link-color);
}

a:not(:last-of-type)::after {
    content: ' | ';
}

#controls {
    padding: 5px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1;
    background: var(--secondary-100);
}

h3 {
    text-align: center;
}

h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: solid transparent 1px;
    border-top-color: var(--secondary-700);
}

footer {
    position: relative;
    padding-bottom: 15px;
    font-size: var(--font-size);
    width: 100%;
    text-align: center;
}

.content {
    grid-row: 1;
    grid-column: 2;
    position: relative;
}

.content > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

button {
    background: var(--secondary-500);
    color: var(--primary);
    border-radius: 5px;
    padding: 6px;
    margin: 5px 0;
    width: 100%
}

/* SVG */

svg#vis {
    pointer-events: none;
    opacity: var(--svg-opacity);
    overflow: visible;
}

svg#vis.hidden {
    visibility: hidden;
}

svg#vis > * {
    pointer-events: auto;
}

svg .u-line {
  stroke: var(--brand-100);
  stroke-dasharray: 2 2;
}

svg .u-path {
  stroke: orange;
  fill: none;
}

svg .u-point circle {
  fill: var(--brand-200);
}
