/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr 1fr;
  grid-template-rows: 8rem 1fr 1fr 1fr auto;
  grid-gap: 0px;
  min-height: 99.8vh;
}

.header {
  grid-column: span 4;
}

.title {
  grid-column: span 3;
  grid-row: span 3;
}

.sidebar {
  grid-row: 2 / span 3;
}

.footer {
  grid-column: span 4;
}

.content {
  grid-column: 2 / span 4;
}

.main-area {
  display: flex;
  flex-direction: column;
}

.main-area > .canvas-container {
  flex: auto;
}

.board-canvas {
  border-bottom: solid 1px;
}


div {
  margin-right: rem;
  margin-top: rem;
}

/* Reset */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background: #fff;
  font-family: system-ui;
  font-size: 1.8rem;
  line-height: 1.5;
}

.cont {
/*   padding: 1rem 2rem; */
  border: 1px solid;
}

h1 {
  margin: 0 0 1em;
  color: #345;
  text-align: center;
}

.double-view {
  display:inline-block;
}

.double-view-container {
  white-space: nowrap
  
}
